<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${dive}" style="width:600px;">
    <div class="form-group">
        <label th:for="date">Date</label>
        <input class="form-control" field="date"/>
        <div class="error" errors="date"></div>
    </div>

    <div class="form-group">
        <label th:for="fish">Fish</label>
        <select field ="fish">
            <option value="'*'" text="*">*</option>
            <option value="'**'" text="**">**</option>
            <option value="'***'" text="***">***</option>
            <option value="'****'" text="****">****</option>
            <option value="'*****'" text="*****">*****</option>
        </select>
    </div>
    <input type="submit" value="Log It!" />

</form>


</body>
</html>