<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${dive}" style="width:600px;">
    <div class="form-group">
        <label th:for="ate">Date MM/DD/YYYY include slashes</label>
        <input class="form-control" th:field="*{ate}"/>
        <div class="error" th:errors="*{ate}"></div>

    </div>

    <div class="form-group">
        <label th:for="fish">Fish</label>
        <select th:field ="*{fish}">
            <option value="'*'" text="*">*</option>
            <option value="'**'" text="**">**</option>
            <option value="'***'" text="***">***</option>
            <option value="'****'" text="****">****</option>
            <option value="'*****'" text="*****">*****</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="time1">Time in</label>
        <input class="form-control" th:field="*{time1}" />
        <div class="error" th:errors="*{time1}"></div>
    </div>
    <div class="form-group">
        <label th:for="time2">Time out</label>
        <input class="form-control" th:field="*{time2}" />
        <div class="error" th:errors="*{time2}"></div>
    </div>
    <div class="form-group">
        <label th:for="psi1">PSI In</label>
        <input class="form-control" th:field="*{psi1}" />
        <div class="error" th:errors="*{psi1}"></div>
    </div>
    <div class="form-group">
        <label th:for="psi2">PSI Out</label>
        <input class="form-control" th:field="*{psi2}" />
        <div class="error" th:errors="*{psi2}"></div>
    </div>
    <div class="form-group">
        <label th:for="depth">Depth</label>
        <select th:field ="*{depth}">
            <option value="'<10'" text="<10"><10</option>
            <option value="'10-30'" text="10-30">10-30</option>
            <option value="'30-50'" text="30-50">30-50</option>
            <option value="'50-70'" text="50-70">50-70</option>
            <option value="'70-100'" text="70-100">70-100</option>
            <option value="'>100'" text=">100">>100</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="visibility">Visibility</label>
        <select th:field ="*{visibility}">
            <option value="'<5'" text="<5"><5</option>
            <option value="'5-10'" text="5-10">5-10</option>
            <option value="'10-15'" text="10-15">10-15</option>
            <option value="'15-20'" text="15-20">15-20</option>
            <option value="'20-30'" text="20-30">20-30</option>
            <option value="'>30'" text=">30">>30</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="nitrogen1">Nitrogen Saturation In</label>
        <input class="form-control" th:field="*{nitrogen1}" />
        <div class="error" th:errors="*{nitrogen1}"></div>
    </div>
    <div class="form-group">
        <label th:for="nitrogen2">Nitrogen Saturation Out</label>
        <input class="form-control" th:field="*{nitrogen2}" />
        <div class="error" th:errors="*{nitrogen2}"></div>
    </div>
    <div class="form-group">
        <label th:for="safteystopdur">Saftey Stop Duration</label>
        <input class="form-control" th:field="*{safteystopdur}" />
        <div class="error" th:errors="*{safteystopdur}"></div>
    </div>
    <div class="form-group">
        <label th:for="surfaceinterval">Surface Interval</label>
        <input class="form-control" th:field="*{surfaceinterval}" />
        <div class="error" th:errors="*{surfaceinterval}"></div>
    </div>
    <div class="form-group">
        <label th:for="surfacetemp">Surface Temperature</label>
        <input class="form-control" th:field="*{surfacetemp}" />
        <div class="error" th:errors="*{surfacetemp}"></div>
    </div>
    <div class="form-group">
        <label th:for="airtemp">Air Temperature</label>
        <input class="form-control" th:field="*{airtemp}" />
        <div class="error" th:errors="*{airtemp}"></div>
    </div>
    <div class="form-group">
        <label th:for="bottomtemp">Bottom Temperature</label>
        <input class="form-control" th:field="*{bottomtemp}" />
        <div class="error" th:errors="*{bottomtemp}"></div>
    </div>
    <div class="form-group">
        <label th:for="divetype">Dive Type</label>
        <select th:field ="*{divetype}">
            <option value="'boat'" text="boat">Boat</option>
            <option value="'shore'" text="shore">Shore</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="watertype">Water Type</label>
        <select th:field ="*{watertype}">
            <option value="'fresh'" text="fresh">Fresh</option>
            <option value="'salt'" text="salt">Salt</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="booties">Did you wear booties?</label>
        <select th:field ="*{booties}">
            <option value="'yes'" text="yes">Yes</option>
            <option value="'no'" text="no">No</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="full">Did you wear a full length wetsuit?</label>
        <select th:field ="*{full}">
            <option value="'yes'" text="yes">Yes</option>
            <option value="'no'" text="no">No</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="shorty">Did you wear a shorty wetsuit?</label>
        <select th:field ="*{shorty}">
            <option value="'yes'" text="yes">Yes</option>
            <option value="'no'" text="no">No</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="skin">Did you wear a skin?</label>
        <select th:field ="*{skin}">
            <option value="'yes'" text="yes">Yes</option>
            <option value="'no'" text="no">No</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="weight">how much weight did you wear?</label>
        <select th:field ="*{weight}">
            <option value="'<10'" text="<10"><10</option>
            <option value="'11-13'" text="11-13">11-13</option>
            <option value="'14-16'" text="14-16">14-16</option>
            <option value="'17-19'" text="17-19">17-19</option>
            <option value="'>20'" text=">20"><20</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="buddy">Dive buddy's name</label>
        <input class="form-control" th:field="*{buddy}" />
        <div class="error" th:errors="*{buddy}"></div>
    </div>
    <div class="form-group">
        <label th:for="notes">NOTES</label>
        <textarea rows="10" cols="80" th:field="*{notes}"></textarea>

        <div class="error" th:errors="*{notes}"></div>
    </div>

    <input type="submit" value="Cancel" />
    <input type="submit" value="Log It!" />

</form>


</body>
</html>