<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<h1> Hello! </h1>
<a href="/dive">Add A Dive!</a> |

<form method="post" th:object="${user}" style="width:600px;">
    <div class="form-group">
        <label th:for="Username">Name</label>
        <input class="form-control" field="*{username}" />
        <div class="error" errors="*{username}"></div>
    </div>


</body>
</html>