<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<h1 th:text="Log"> </h1>
<form method="post" th:object="${user}" style="width:600px;">

    <div class="form-group">
        <label th:for="email">Email</label>

        <input name = "email" class="form-control" th:field="*{email}" type="email" />
        <div class="error" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input name = "password" class="form-control" th:field="*{password}" type="password" />
        <div class="error" th:errors="*{password}"></div>
    </div>


    <input type="submit" value="Dive In!" />
</form>
</body>
</html>